fieldset {
  width: 350px;
  padding: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
  border: 3px solid paleturquoise;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#submitStyle {
  text-align: center;
}
