body {
  /*body태그 css style 적용*/
  font: 100% Lucida Sans, Verdana; /*폰트 설정*/
  margin: 20px; /*마진 설정*/
  line-height: 26px; /*줄 높이 설정*/
}

#top {
  /*최상단에 위치한 div태그에 css style 적용*/
  background-color: #04aa6d; /*배경색 설정*/
  color: #ffff; /*글자색 설정*/
  border-radius: 4px; /*둥글게*/
  margin: 4px; /*마진 설정*/
  padding: 15px; /*패딩 설정*/
}

#top h1,
#top p {
  /*top id를 가진 div태그가 포함하는 h1과 p 태그에 css style 적용*/
  margin: 0;
  padding: 0;
}

.container {
  min-width: 900px;
}

.wrapper {
  position: relative;
  overflow: auto;
}

#sidebar,
#bottom,
.menuitem {
  border-radius: 4px;
  margin: 4px;
}

#menubar {
  width: 200px;
  float: left;
}

#main {
  padding: 10px;
  margin: 0 210px;
}

#sidebar {
  background-color: #32a4e7;
  color: #ffffff;
  padding: 10px;
  width: 180px;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
}

#bottom {
  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  line-height: 14px;
}

#menulist {
  margin: 0;
  padding: 0;
}

.menuitem {
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  list-style-type: none;
  padding: 2px;
  cursor: pointer;
}

.menuitem:hover {
  background-color: #ffffff;
}

.menuitem:first-child {
  background-color: #04aa6d;
  color: white;
  font-weight: bold;
}

a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 800px) {
  #sidebar {
    width: auto;
    position: relative;
  }
  #main {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  #menubar {
    width: auto;
    float: none;
  }
  #main {
    margin: 0;
  }
}
